[submodule "kotihome"]
	path = RPi/kotihome
	url = https://github.com/arturi/kotihome.git
[submodule "react-imgpro"]
	path = react-imgpro
	url = https://github.com/nitin42/react-imgpro.git
[submodule "electron-react-tutorial"]
	path = electron-react-tutorial
	url = https://github.com/Mechasparrow/electron-react-tutorial.git
[submodule "Libraries/jimp"]
	path = Libraries/jimp
	url = https://github.com/oliver-moran/jimp.git
[submodule "another-electron-react-tutorial"]
	path = another-electron-react-tutorial
	url = https://github.com/RaasAhsan/electron-react-tutorial.git
[submodule "electrotv"]
	path = electrotv
	url = https://github.com/hiquest/electrotv.git
[submodule "RPi/PiR.tv"]
	path = RPi/PiR.tv
	url = https://github.com/d0nd3r3k/PiR.tv.git
[submodule "RPi/home-automation"]
	path = RPi/home-automation
	url = https://github.com/deepsyx/home-automation.git
[submodule "RPi/clockOS"]
	path = RPi/clockOS
	url = https://github.com/iGerli/clockOS.git
[submodule "RPi/Pi_MorseCode"]
	path = RPi/Pi_MorseCode
	url = https://github.com/arvindr21/Pi_MorseCode.git
[submodule "RPi/PiViewer"]
	path = RPi/PiViewer
	url = https://github.com/patcat/PiViewer.git
[submodule "RPi/personal-assistant"]
	path = RPi/personal-assistant
	url = https://github.com/augustogoncalves/personal-assistant.git
[submodule "RPi/it-gets-the-hose-again"]
	path = RPi/it-gets-the-hose-again
	url = https://github.com/mrsharpoblunto/it-gets-the-hose-again.git
[submodule "RPi/RPi-KittyCam"]
	path = RPi/RPi-KittyCam
	url = https://github.com/girliemac/RPi-KittyCam.git
[submodule "RPi/example-raspberry-pi"]
	path = RPi/example-raspberry-pi
	url = https://github.com/Losant/example-raspberry-pi.git
[submodule "RPi/raspberry-pi-nodejs-barcode-reader-"]
	path = RPi/raspberry-pi-nodejs-barcode-reader-
	url = https://github.com/dynamsoft-dbr/raspberry-pi-nodejs-barcode-reader-.git
[submodule "resin-electronjs"]
	path = resin-electronjs
	url = https://github.com/resin-io/resin-electronjs.git
[submodule "ocr-electron-vue"]
	path = ocr-electron-vue
	url = https://github.com/lexmartinez/ocr-electron-vue.git
[submodule "repoStarterKit"]
	path = repoStarterKit
	url = https://github.com/pa87901/repoStarterKit.git
[submodule "react-electron-seed"]
	path = react-electron-seed
	url = https://github.com/manojsinghnegiwd/react-electron-seed.git
[submodule "scotch-player"]
	path = scotch-player
	url = https://github.com/christiannwamba/scotch-player.git
[submodule "react-image-browser"]
	path = react-image-browser
	url = https://github.com/manojsinghnegiwd/react-image-browser.git
[submodule "electron-react-boilerplate"]
	path = electron-react-boilerplate
	url = https://github.com/chentsulin/electron-react-boilerplate.git
[submodule "RPi/RaspberryPi.Web"]
	path = RPi/RaspberryPi.Web
	url = https://github.com/fabien-chevalley/RaspberryPi.Web.git
[submodule "RPi/FabScanPi/FabScanPi-Frontend"]
	path = RPi/FabScanPi/FabScanPi-Frontend
	url = https://github.com/mariolukas/FabScanPi-Frontend.git
[submodule "RPi/rf433-to-rest"]
	path = RPi/rf433-to-rest
	url = https://github.com/cat101/rf433-to-rest.git
[submodule "RPi/GreenPiThumb/GreenPiThumb_Frontend"]
	path = RPi/GreenPiThumb/GreenPiThumb_Frontend
	url = https://github.com/JeetShetty/GreenPiThumb_Frontend.git
[submodule "RPi/GreenPiThumb/GreenPiThumb_Frontend_static"]
	path = RPi/GreenPiThumb/GreenPiThumb_Frontend_static
	url = https://github.com/JeetShetty/GreenPiThumb_Frontend_static.git
[submodule "RPi/ProsperBot/prosperbot-frontend"]
	path = RPi/ProsperBot/prosperbot-frontend
	url = https://github.com/mtlynch/prosperbot-frontend.git
[submodule "RPi/ProsperBot/prosperbot-frontend-static"]
	path = RPi/ProsperBot/prosperbot-frontend-static
	url = https://github.com/mtlynch/prosperbot-frontend-static.git
[submodule "RPi/Fortiphi"]
	path = RPi/Fortiphi
	url = https://github.com/zachatrocity/Fortiphi.git
[submodule "RPi/web-gpio-react"]
	path = RPi/web-gpio-react
	url = https://github.com/ddewaele/web-gpio-react.git
[submodule "RPi/EmulationStation"]
	path = RPi/EmulationStation
	url = https://github.com/Aloshi/EmulationStation.git
[submodule "RPi/FabScanPi/FabScanPi-Server"]
	path = RPi/FabScanPi/FabScanPi-Server
	url = https://github.com/mariolukas/FabScanPi-Server.git
[submodule "angular-qr-scanner"]
	path = angular-qr-scanner
	url = https://github.com/sembrestels/angular-qr-scanner.git
[submodule "angular2-qrscanner"]
	path = angular2-qrscanner
	url = https://github.com/goergch/angular2-qrscanner.git
[submodule "Pinpoint"]
	path = Pinpoint
	url = https://github.com/zachatrocity/Pinpoint.git
[submodule "react_basics"]
	path = react_basics
	url = https://github.com/ajayk800/react_basics.git
[submodule "BBB/node-beagle-boot"]
	path = BBB/node-beagle-boot
	url = https://github.com/ravikp7/node-beagle-boot.git
[submodule "BBB/BeagleBoot"]
	path = BBB/BeagleBoot
	url = https://github.com/ravikp7/BeagleBoot.git
[submodule "RPi/Rototron/Expo-Solar-Tracker"]
	path = RPi/Rototron/Expo-Solar-Tracker
	url = https://github.com/rdagger/Expo-Solar-Tracker.git
[submodule "RPi/Rototron/React-WebSocket-Client-DS18b20"]
	path = RPi/Rototron/React-WebSocket-Client-DS18b20
	url = https://github.com/rdagger/React-WebSocket-Client-DS18b20.git
[submodule "RPi/Raspberry-Pi-Simple-Web-GPIO-GUI"]
	path = RPi/Raspberry-Pi-Simple-Web-GPIO-GUI
	url = https://github.com/tutRPi/Raspberry-Pi-Simple-Web-GPIO-GUI.git
[submodule "RPi/rpi-webapp-express"]
	path = RPi/rpi-webapp-express
	url = https://github.com/fatkahawai/rpi-webapp-express.git
[submodule "projrekt"]
	path = projrekt
	url = https://github.com/PeteLevineA/projrekt.git
[submodule "iot-serverless-websockets-react-boilerplate"]
	path = iot-serverless-websockets-react-boilerplate
	url = https://github.com/gettechtalent/iot-serverless-websockets-react-boilerplate.git
[submodule "front-end-guide"]
	path = front-end-guide
	url = https://github.com/voorhoede/front-end-guide.git
[submodule "simple-react-full-stack"]
	path = simple-react-full-stack
	url = https://github.com/crsandeep/simple-react-full-stack.git
[submodule "RPi/daisyCam"]
	path = RPi/daisyCam
	url = https://github.com/WoodburyShortridge/daisyCam.git
[submodule "stratbook"]
	path = stratbook
	url = https://github.com/vanDeurs/stratbook.git
[submodule "RPi/Buzz"]
	path = RPi/Buzz
	url = https://github.com/pedrovgs/Buzz.git
[submodule "react-webcam"]
	path = react-webcam
	url = https://github.com/mozmorris/react-webcam.git
[submodule "react-desktop"]
	path = react-desktop
	url = https://github.com/gabrielbull/react-desktop.git
[submodule "react-redux-realworld-example-app"]
	path = react-redux-realworld-example-app
	url = https://github.com/gothinkster/react-redux-realworld-example-app.git
[submodule "react-patterns"]
	path = react-patterns
	url = https://github.com/larkintuckerllc/react-patterns.git
[submodule "react-camera"]
	path = react-camera
	url = https://github.com/Miniplop/react-camera.git
[submodule "webpacker-react-frontend"]
	path = webpacker-react-frontend
	url = https://github.com/gauravtiwari/webpacker-react-frontend.git
[submodule "Books/reactjs-by-example"]
	path = Books/reactjs-by-example
	url = https://github.com/bigbinary/reactjs-by-example.git
[submodule "reactjs-nodejs-rest-example"]
	path = reactjs-nodejs-rest-example
	url = https://github.com/hurkanyakay/reactjs-nodejs-rest-example.git
[submodule "id-project"]
	path = id-project
	url = https://github.com/Industrial/id-project.git
[submodule "StopWatchElectron"]
	path = StopWatchElectron
	url = https://github.com/FrancescoSaverioZuppichini/StopWatchElectron.git
[submodule "Libraries/blueprint"]
	path = Libraries/blueprint
	url = https://github.com/palantir/blueprint.git
[submodule "Libraries/HTML5-JavaScript-Gamepad-Controller-Library"]
	path = Libraries/HTML5-JavaScript-Gamepad-Controller-Library
	url = https://github.com/kallaspriit/HTML5-JavaScript-Gamepad-Controller-Library.git
[submodule "Books/react-in-patterns"]
	path = Books/react-in-patterns
	url = https://github.com/krasimir/react-in-patterns.git
[submodule "Books/advanced-react-patterns"]
	path = Books/advanced-react-patterns
	url = https://github.com/kentcdodds/advanced-react-patterns.git
[submodule "Books/advanced-react-patterns-v2"]
	path = Books/advanced-react-patterns-v2
	url = https://github.com/kentcdodds/advanced-react-patterns-v2.git
[submodule "react-frontend-template"]
	path = react-frontend-template
	url = https://github.com/arjunmehta/react-frontend-template.git
[submodule "react-templates"]
	path = react-templates
	url = https://github.com/wix/react-templates.git
[submodule "react-app-template"]
	path = react-app-template
	url = https://github.com/Narzerus/react-app-template.git
[submodule "ReactAdminPanel"]
	path = ReactAdminPanel
	url = https://github.com/KrunalLathiya/ReactAdminPanel.git
[submodule "react-redux-starter-template"]
	path = react-redux-starter-template
	url = https://github.com/tarique93102/react-redux-starter-template.git
[submodule "react-material-demo"]
	path = react-material-demo
	url = https://github.com/cartab/react-material-demo.git
[submodule "react-demos"]
	path = react-demos
	url = https://github.com/ruanyf/react-demos.git
[submodule "react-demo"]
	path = react-demo
	url = https://github.com/rpominov/react-demo.git
